body #bigquery-wrapper.bigquery {
  .zbtn {
    display: inline-block;
    color: darken($color-light, 5%);
    @include transition(0.15s all ease-in 0s);
    @include border-radius($border-radius);
    font-weight: bold;
    font-size: 0.9 * $font-size;
    border: 1px solid transparent;

    &-default {
      border: 1px solid $color-border;
      background-color: $color-background;
      color: $color-light;

      &:hover {
        @extend .zbtn-hover;
      }
    }

    &-active {
      @extend .zbtn-hover;
    }

    &:not(.zbtn-mt) {
      padding: 0.5 * $gap $gap;
      height: $form-field-height;
    }

    &.button-rounded {
      width: 3*$gap;
      height: 3*$gap;
    }

    &-primary {
      background: darken($color-main, 5%);
      border-color: darken($color-main, 5%);

      &:hover {
        color: $color-light;
        background-color: $color-main;
        border-color: $color-main;
      }
    }

    &-mt {
      min-width: $mt-zbtn-large;
      height: $mt-zbtn-large;
      line-height: $mt-zbtn-large;
      white-space: nowrap;
      text-align: center;
      background-color: $color-foreground;
      cursor: default;
      border-radius: 0;
      font-size: $font-size;
      display: inline-block;
      vertical-align: middle;
      padding: 0 0.25 * $gap;
      border: 0 !important;
      height: auto;
    }

    &.icon-mt {
      i {
        color: $color-light !important;
      }
    }

    &-view-more {
      min-width: 6 * $gap;
    }
  }
  .w-100 {
    width: 100%;
  }

  .zbtn-hover {
    background: $color-main;
    color: $color-light;
    border-color: $color-main;
  }

  .hr .hr-inner .mt-parents.mt-group,
  .hr .hr-outer .mt-parents.mt-group,
  .hr .hr-inner .ifb .ifb-vl,
  .hr .s-m-b-p {
    .zbtn {
      &-mt {
        min-width: 0;
        width: $mt-zbtn;
        height: $mt-zbtn;
        line-height: $mt-zbtn;
        @include border-radius($border-radius);
        font-size: $font-size-small;
      }
    }
  }

  .button-rounded {
    @include border-radius(100% !important);
  }
}
