// Classes rename: //

// "horse" => "hr" //
// "horses" => "hrs" //
// "metrix" => "mt" //
// "value" => "vl" //
// "zrow" => "zr" //
// "zcol" => "zc" //
// "button" => "zbtn" //
// "infobar" => "ifb" //
// "tile" => "tl" //
// "params" => "prm" //
// "infobar-label" => "ifb-lbl" //
// "infobar-value" => "ifb-vl" //

@import "_assets";
