body #bigquery-wrapper.bigquery {
  .tl-breeding-ability {
    .breeding-trait.zedge {
      width: 7.5 * $box-padding;
      height: 7.5 * $box-padding;
      line-height: 7 * $box-padding;
      text-align: center;
      background: url(../images/zedge-bg.jpg) no-repeat center center / cover;
      margin: auto;
      position: relative;

      .z-text {
        font-weight: bold;
        display: inline-block;
        position: absolute;
        z-index: 2;
        left: 0;
        right: 0;
        top: 3 * $gap;
        width: 100%;
        color: $color-light;
        line-height: 1;
      }

      .breeding-z-vl {
        font-size: 2 * $font-size;
        color: $color-light;
      }
    }
  }
}
