html {
  font-size: 16px;

  @include lg {
    font-size: 14px;
  }

  @include md {
    font-size: 14px;
  }

  @include sm {
    font-size: 14px;
  }

  .container{
    width: 1200px;

    @include lg {
      width: 100%;
    }

    @include md {
      width: 100%;
    }

    @include sm {
      width: 100%;
    }
  }
}

body #bigquery-wrapper.bigquery {
  position: relative;
  box-sizing: border-box;
  font-size: $font-size;
  padding: $box-padding;
  background: $color-foreground;
  @include border-radius(5 * $border-radius);
  line-height: 1.25;
  overflow: hidden;

  @include lg {
    font-size: $font-size;
  }

  * {
    box-sizing: border-box;
  }

  .bigquery-data {
    margin-bottom: $box-padding;
  }

  ::-webkit-scrollbar {
    width: 0.5 * $gap;
  }

  ::-webkit-scrollbar-track {
    background-color: $color-background;
  }

  ::-webkit-scrollbar-thumb {
    background-color: lighten($color-background, 10%);
    @include border-radius(2 * $border-radius);
  }

  @keyframes progressBarSlide {
    from {
      background-position-x: 0;
    }
    to {
      background-position-x: 380px;
    }
  }

  @-webkit-keyframes progressBarSlide {
    from {
      background-position-x: 0;
    }
    to {
      background-position-x: 380px;
    }
  }

  .zload {
    position: relative;
    text-align: center;
    padding: $box-padding;

    &-text {
      margin-bottom: $gap;
      color: $color-light;
    }

    &-bar {
      font-size: 0;
      line-height: 0;
      display: block !important;
      height: $gap;
      width: 10 * $box-padding;
      margin: $gap auto auto auto;
      @include border-radius($border-radius);
      border: px2rem(1px) solid $color-border;
      background-color: darken($color-background, 10%);
      background-image: repeating-linear-gradient(
        -45deg,
        transparent,
        transparent 0.75 * $gap,
        $color-main 0.75 * $gap,
        $color-main 1.3 * $gap
      );
      animation: progressBarSlide 6s linear infinite;
      will-change: background-position;
    }
  }

  .bigquery-data {
    &.fetch-filters {
      .hrs-table-body {
        .hr {
          filter: blur(0.3 * $gap);
          -webkit-filter: blur(0.3 * $gap);
        }
      }
    }
  }
}
