body #bigquery-wrapper.bigquery {
  .zr {
    margin-left: -$gap;
    margin-right: -$gap;
    display: flex;
    display: -webkit-flex;
    display: -ms-flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    flex-wrap: wrap;

    @include md {
      margin-left: -0.5 * $gap;
      margin-right: -0.5 * $gap;
    }

    @include sm {
      margin-left: -0.5 * $gap;
      margin-right: -0.5 * $gap;
    }

    &.no-gutters {
      margin-left: 0;
      margin-right: 0;

      > [class^="zc"] {
        padding-left: 0;
        padding-right: 0;
      }
    }

    > * {
      padding-left: $gap;
      padding-right: $gap;
      flex-shrink: 0;

      @include md {
        padding-left: 0.5 * $gap;
        padding-right: 0.5 * $gap;
      }

      @include sm {
        padding-left: 0.5 * $gap;
        padding-right: 0.5 * $gap;
      }
    }

    .zc {
      flex: 1 0 0%;
    }

    .zc-auto {
      flex: 0 0 auto;
      width: auto;
    }

    .zc-1 {
      flex: 0 0 auto;
      width: 8.33333333%;
    }

    .zc-2 {
      flex: 0 0 auto;
      width: 16.66666667%;
    }

    .zc-3 {
      flex: 0 0 auto;
      width: 25%;
    }

    .zc-4 {
      flex: 0 0 auto;
      width: 33.33333333%;
    }

    .zc-5 {
      flex: 0 0 auto;
      width: 41.66666667%;
    }

    .zc-6 {
      flex: 0 0 auto;
      width: 50%;
    }

    .zc-7 {
      flex: 0 0 auto;
      width: 58.33333333%;
    }

    .zc-8 {
      flex: 0 0 auto;
      width: 66.66666667%;
    }

    .zc-9 {
      flex: 0 0 auto;
      width: 75%;
    }

    .zc-10 {
      flex: 0 0 auto;
      width: 83.33333333%;
    }

    .zc-11 {
      flex: 0 0 auto;
      width: 91.66666667%;
    }

    .zc-12 {
      flex: 0 0 auto;
      width: 100%;
    }

    @include md {
      .zc-md-1 {
        flex: 0 0 auto;
        width: 8.33333333%;
      }

      .zc-md-2 {
        flex: 0 0 auto;
        width: 16.66666667%;
      }

      .zc-md-3 {
        flex: 0 0 auto;
        width: 25%;
      }

      .zc-md-4 {
        flex: 0 0 auto;
        width: 33.33333333%;
      }

      .zc-md-5 {
        flex: 0 0 auto;
        width: 41.66666667%;
      }

      .zc-md-6 {
        flex: 0 0 auto;
        width: 50%;
      }

      .zc-md-7 {
        flex: 0 0 auto;
        width: 58.33333333%;
      }

      .zc-md-8 {
        flex: 0 0 auto;
        width: 66.66666667%;
      }

      .zc-md-9 {
        flex: 0 0 auto;
        width: 75%;
      }

      .zc-md-10 {
        flex: 0 0 auto;
        width: 83.33333333%;
      }

      .zc-md-11 {
        flex: 0 0 auto;
        width: 91.66666667%;
      }

      .zc-md-12 {
        flex: 0 0 auto;
        width: 100%;
      }
      .zc-md {
        flex: 1 0 0%;
      }
    }

    @include sm {
      .zc-sm-1 {
        flex: 0 0 auto;
        width: 8.33333333%;
      }

      .zc-sm-2 {
        flex: 0 0 auto;
        width: 16.66666667%;
      }

      .zc-sm-3 {
        flex: 0 0 auto;
        width: 25%;
      }

      .zc-sm-4 {
        flex: 0 0 auto;
        width: 33.33333333%;
      }

      .zc-sm-5 {
        flex: 0 0 auto;
        width: 41.66666667%;
      }

      .zc-sm-6 {
        flex: 0 0 auto;
        width: 50%;
      }

      .zc-sm-7 {
        flex: 0 0 auto;
        width: 58.33333333%;
      }

      .zc-sm-8 {
        flex: 0 0 auto;
        width: 66.66666667%;
      }

      .zc-sm-9 {
        flex: 0 0 auto;
        width: 75%;
      }

      .zc-sm-10 {
        flex: 0 0 auto;
        width: 83.33333333%;
      }

      .zc-sm-11 {
        flex: 0 0 auto;
        width: 91.66666667%;
      }

      .zc-sm-12 {
        flex: 0 0 auto;
        width: 100%;
      }
    }
  }

  .align-items-center {
    align-items: center !important;
  }

  .justify-content-center {
    justify-content: center !important;
  }
  .justify-content-between {
    justify-content: space-between !important;
  }

  .m-0 {
    margin: 0 !important;
  }

  .ml-0 {
    margin-left: 0 !important;
  }

  .mr-0 {
    margin-right: 0 !important;
  }

  .mt-0 {
    margin-top: 0 !important;
  }

  .mb-0 {
    margin-bottom: 0 !important;
  }

  .mb-1 {
    margin-bottom: $gap !important;
  }
  .mb-2 {
    margin-bottom: 2 * $gap !important;
  }
  .mb-3 {
    margin-bottom: 3 * $gap !important;
  }
  .mb-4 {
    margin-bottom: 4 * $gap !important;
  }
  .mb-5 {
    margin-bottom: 5 * $gap !important;
  }
  .mt-1 {
    margin-top: $gap !important;
  }
  .mt-2 {
    margin-top: 2 * $gap !important;
  }
  .mt-3 {
    margin-top: 3 * $gap !important;
  }
  .mt-4 {
    margin-top: 4 * $gap !important;
  }
  .mt-5 {
    margin-top: 5 * $gap !important;
  }

  .p-0 {
    padding: 0 !important;
  }
  .pl-0 {
    padding-left: 0 !important;
  }
  .pr-0 {
    padding-right: 0 !important;
  }

  .pt-0 {
    padding-top: 0 !important;
  }

  .pb-0 {
    padding-bottom: 0 !important;
  }
}
